html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table-with-divider {
    border-collapse: collapse;
}

.table-with-divider th,
.table-with-divider td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-with-divider th {
    border-bottom: none; 
}